*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.my_btn{
    background-color: #058283;
}
.animate{
    transition: transform ease 0.6s;
    &:hover{
        transform:translateY(-15px);
        transition: transform ease 0.6s;
    }
}
.pulse:hover {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
        background-color: none;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
    
    }
    100% {
        
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        background: #02ffff;;
    }
  }
.bonus{
    display: none;
    position: absolute;
    background-color: #fff;
    top: 60px;
    left: 0px;
    
}
.supp:hover .bonus{
    display:block;
    padding: 15px;
}
.bonus li{
    display: block;
    line-height: 45px;
}  
  